lambda function is an anonymous function; 
it is called so because it doesn't have a name;
why? single-use function - to be run/used only once (or can assign it to something to re-use)

In [1]:
def sq(num):
    res = num**2
    return res

In [2]:
# lambda version:
# def sq --> lambda
# remove brackets on either side of parameter 
lambda num: num**2
# remove 'return' because we assume we are going to return what is on RHS of colon

In [3]:
# to use repeatedly, assign it to something
square = lambda num: num**2

In [4]:
square(3)

9

In [11]:
# typically, we don't assign because it is intended to be a single-use f()
# thus, instead of: map(sq, mynums) 
mynums = [1,2,3,4,5,6]
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [12]:
list(filter(lambda num: num%2==0, mynums))

[2, 4, 6]

so, filter is used only for boolean output/mapping

In [19]:
mynames = ['Andy', 'Eve', 'Sally']
list(map(lambda nam: nam if len(nam)%2==0 else "", mynames))

['Andy', '', '']

In [20]:
list(map(lambda nam: nam[0], mynames))

['A', 'E', 'S']

In [22]:
list(map(lambda nam: (nam[::-1]).lower(), mynames))

['ydna', 'eve', 'yllas']